* { margin: 0; padding: 0; }
/* To customize top most header div */
#header_div {
    height: 110px;
    width: 77%;
    margin-left: 5%;
    float: left;
}
/* To customize logo image */
img.r {
    height: 50px;
    width: 60px;
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}
/* To customize Web site name image */
img.name {
    height: 50px;
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}
/* To customize menu list at header div */
#menu {
    list-style: none;
    float: left;
    padding: 0;  /* if padding not used then it will leave space in left */
    }
/* To customize menu list items at header div */
#menu li {
    width: 120px;
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;  
    font-size: 13px;
    position: relative;
}
/* To customize menu list anchor (all) items in header div */
#menu li a {
    text-decoration: none;
    color: black;
    }
/* To customize menu list hovering */
#menu li:hover {
    font-size: 15px;
    }
/* To customize right most sub div in header div */
#header_div2 {
        height: 110px;
        margin-left: 80%;
        width: 18%;
        margin-right: 5%;
}
/* To customize anchor items in header_div2 */
a {
    float: right;
    display: inline-block;
    text-decoration: none;
    color: black;
}
/* To customize the user photo that is with username */
img.userphoto {
    height: 30px;
    width: 30px;
}
/* To customize the div that will contain invoice */
#invoice {
    height: 500px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
#AdvancedSearch {
    height: 458px;
    width: 10%;
    padding: 20px;
    border: 2px solid blue;
    float: left;
}

/* To customize the div that contains container of form */
#content1 {
    height: 440px;
    width: 60%;
    float: left;  
    padding: 30px;    
}
/* To customize the search bar for items */
input[type=text] {
    width: 40%;
    padding: 15px;
    display: inline-block;
    margin-bottom: 10px;
    background-image: url("image/searchicon.jpg");
    background-position: left;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 3px solid lawngreen;
  }
#table_div {
        height: 304px;
        padding: 30px;
        overflow: auto;
        border: 1px solid black;
}
table { 
    border-collapse: collapse; 
}
table td, table th { 
    border: 1px solid black;
    padding: 7px; 
}
#table-data {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
    table-layout: fixed;
}
/* To align text in center of number type */
input[type=number] {
    text-align: center;
}
/* To customize the whole body of the page */
body {
    font-family: Calibri;
} 
/* To customize the Add to cart button bar */
#findbtn {
    border: 2px solid rgb(39, 204, 44);
    background-color: #eee;
    border-radius: 20px;
    color: black;
    padding: 15px;
    cursor: pointer;
    width: 100px;
    opacity: 0.8;
    font-size: 14px;

  }
  #findbtn:hover {
    background-color: rgb(39, 204, 44);
    color: white;
  }
 .AddToCart {
    border: 2px solid rgb(39, 204, 44);
    background-color: #eee;
    border-radius: 20px;
    color: black;
    padding: 15px;
    cursor: pointer;
    width: 40%;
    font-size: 17px;
  }
.Reset {
    border: 2px solid red;
    background-color: #eee;
    border-radius: 20px;
    color: black;
    padding: 15px;
    cursor: pointer;
    width: 40%;
    font-size: 17px;
    margin-left: 60px;
  }
  .AddToCart:hover {
    background-color: rgb(39, 204, 44);
    color: white;
  }
  .Reset:hover {
    background-color: red;
    color: white;
  }

.clearfix {
    text-align: center;
}

#cartarea {
    height: 446px;
    width: auto;
    margin-left: 77%;
    padding: 3px;
    margin-right: 2%;
    overflow: auto;
    border: 1px solid blue;
}

#cart-table-data, th, td {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
    text-align: center;
    padding: 10px;
    table-layout: fixed;
  }
  
  th {
    background-color: grey;
    color: #eee;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  
  #cart_table {
    border-collapse: collapse;
  }
  

#below-cart-table {
    width: auto;
    margin-left: 78%;
    text-align: center;
    margin-right: 2%;
}
.CheckOutBtn {
    border: 2px solid grey;
    background-color: #eee;
    border-radius: 20px;
    color: black;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    width: 60%; 
}
.CheckOutBtn:hover {
    background-color: gray;
    color: #eee;
}
#invoice-table-data {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
    table-layout: fixed;
}